body {
	margin: 0 ;
	padding: 0;
	font-family: Impact;
}

.navWrapper {
	text-align: center;
	margin-top 20px;
}

.navBar {
	margin: 20px auto;
	width: 900px;
	background-color: #A64DFF;
	height: 50px;
	vertical-align: center;
}

.menuList {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
	padding-left: 50px;
}


li a {
	float: left;
	color: white;
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 50px;
}

li {
	float: left;
}

a:hover {
	background-color: #EEEEEE;
	color: #A0A0A0;
}

li:last-of-type {
	float: right;
	padding-right: 50px;
}